body {
  background: url('/src/assets/images/background-pattern-desktop.svg') hsl(275, 100%, 97%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 30px hsla(292.3, 62%, 80.4%, 0.33);
  padding: 30px 30px;
  min-height: 400px;
  max-width: 520px;
}

.main__container header {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.main__container .questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dark-purple {
  color: hsl(292, 42%, 14%);
}


@media screen and (max-width: 375px) {
  body {
    background: url('/src/assets/images/background-pattern-mobile.svg') hsl(275, 100%, 97%);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
  }

  .main__container {
    width: 90%;
    height: auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px hsla(292.3, 62%, 80.4%, 0.33);
    padding: 30px 30px;
    min-height: 400px;
  }

}